<!DOCTYPE html>
<html>
<head>
	<title> Web-d Assignment</title>
</head>
<body>
<form method="POST" action="/vendor/login">
<label for='mobile'>Mobile.no:</label>
<input id="mobile" name='mobile'>
<br>
<label for='password'>Password:</label>
<input id="password" name='password' type="password">
<br>
<button type="submit">login</button>
</form>
</body>
</html>
